/* -------------------------Feuille de styles relative au projet Gestion des Projets--------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ---------------------------------Les Grands Titres-------------------------- */

.box-right {
	min-height: 500px;
	width: 377px;
	height: 400px;
	margin-right: 78px;
}
input[type="radio"]{
	    margin: 0 0 0 2px;
}

#docForm table{
	width: 100% !important;
}
.box-left {
	width: 954px;
	margin-left: 150px;
	height: 216;
}

/* ---------------------------Contenus------------------------------- */
/* --------------------------------------------------------- */
.xteSubmit {
	text-align: center;
	background-color: #FFFFFF;
	font-size: 16px;
}

.xtesecret {
	background-color: #FFFFFF;
	border-bottom: 1px dotted #009966;
	maxlength: 10;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.xtetableformation {
	cellpadding: 0;
	cellspacing: 0;
	width: 708;
	height: 488;
	vertical-align: middle;
	border: 1px solid #000066;
	margin-left: 50px;
	margin-right: 50px;
}

.xteTableHeader {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 1px;
	background-color: #CCCCCC;
}

.xteTablebody {
	text-align: center;
	border-color: #F0F0F0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.xteSelect {
	font-size: 12px;
	border: 1px solid #888888;
}

.xteTextarea {
	background-color: #FAFAFA;
	border: 2px solid #888888;
	font-size: 12px;
	color: red;
	margin-left: 30px;
	margin-right: 100px;
	width: 300px;
	resize: none;
}

.textarea {
	resize: none;
}

.xteInputText {
	background-color: #FFFFFF;
	border: 1px solid #888888;
	font-size: 12px;
	color: #CC0099;
	margin-left: 5px;
	margin-right: auto;
}

.xteLabel {
	text-align: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

/* ---------------------------Table-------------------------------- */
.xteTable {
	cellpadding: 1px;
	cellspacing: 1px;
	margin-right: 10px;
	margin-left: 20px;
	text-align: center;
	border: 1px solid #006633;
	width: 100%;
}

.xteOutputText {
	color: #354514;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	float: left;
	text-align: justify;
}

.xteLayoutSelect {
	align: center;
	color: #FF0000;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px;
}

/* -----------------------------Tablaux Toolbars---------------------- */
.toolbar {
	width: 50px;
	height: 50px;
}

.xteToolbars {
	border-color: #990000;
	margin-left: auto;
	margin-right: 430px;
	table-layout: fixed;
}

.xteToolbars a {
	width: 36px;
	height: 36px;
}

.xteToolbars a: hover,active {
	width: 36px;
	height: 36px;
}

.xteToolbars td {
	text-decoration: none;
	width: 36px;
	height: 36px;
	margin-left: 15px;
	margin-right: auto;
}

.xteToolbars tr {
	text-decoration: none;
}

.xteToolbarsImage :hover {
	border: none;
	align: absmiddle;
	width: 36px;
	height: 36px;
}

/* -----------------------------Tablaux---------------------- */
#xteTable {
	border: 1px solid #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cellpadding: 0;
	cellspacing: 0;
	width: 500;
	margin-bottom: 10px;
	vertical-align: super;
	white-space: nowrap;
}

/* ------------------------------Test des interfaces V0----------------------------- */
.nav .table {
	display: table;
}

.nav .select,.nav .current {
	padding: 0;
	list-style: none;
	display: table-cell;
	white-space: nowrap;
	color: #FFFFFF;
}

.nav .select li {
	margin: 0;
	/*width:180px;*/
	padding: 0 10px 0 10px;
	text-decoration: none;
	padding: 0 50px;
	height: 31px;
	float: left;
	background: url(images/menu-separation.gif) no-repeat scroll right
		center transparent;
	color: #FFFFFF;
	z-index: 1;
}

.nav .select a {
	text-decoration: none;
}

.nav li.last {
	background: none;
}

.nav .select a:hover .menu-left,.nav .select li:hover a .menu-left {
	background: url(images/left.gif) no-repeat left top;
	width: 12px;
	height: 31px;
	line-height: 35px;
	display: block;
	float: left;
	padding-bottom: 7px;
	cursor: pointer;
}

.nav .select a:hover .menu-mid,.nav .select li:hover a .menu-mid {
	background: url(images/bg.gif) repeat-x top left;
	height: 31px;
	line-height: 35px;
	display: block;
	float: left;
	padding-bottom: 7px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.nav .select a:hover .menu-right,.nav .select li:hover a .menu-right {
	background: url(images/right.gif) no-repeat top left;
	width: 12px;
	height: 31px;
	line-height: 35px;
	display: block;
	float: left;
	padding-bottom: 7px;
	cursor: pointer;
}

.nav .select  a .menu-right {
	width: 12px;
	height: 31px;
	background: url(images/bg-menu.gif) repeat-x top left;
	float: left;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
}

.nav .select  a .menu-left {
	width: 12px;
	height: 31px;
	background: url(images/bg-menu.gif) repeat-x top left;
	float: left;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
}

.nav .select a .menu-mid {
	display: block;
	height: 35px;
	float: left;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
}

.nav li.last {
	background: none;
}

.nav .select_sub {
	display: none;
}

.nav table {
	border-collapse: collapse;
	margin: -1px;
	font-size: 1em;
	width: 0;
	height: 0;
}

.nav .sub {
	display: table;
	list-style: none;
}

.nav .sub_active .current_sub a,.nav .sub_active a:hover {
	background: transparent;
	color: #FFFFFF;
}

.nav .select :hover .select_sub,.nav .current .show {
	display: block;
	position: absolute;
	width: 100%;
	font-size: 12px;
	top: 35px;
	background: #89beff;
	padding: 0;
	z-index: 100;
	left: 0;
	text-align: center;
	color: #38659b;
	margin-top: -5px;
}

.nav .current .show {
	z-index: 10;
}

.nav .select .select_sub li {
	background: none;
	padding: 0 10px;
}

.nav .select :hover .sub li a,.nav .current .show .sub li a {
	display: block;
	float: left;
	background: transparent;
	padding: 0 10px 0 10px;
	margin: 0;
	white-space: nowrap;
	font-size: 12px;
	border: 0;
	color: #FFFFFF;
}

.nav .current .sub li.sub_show a {
	color: #38659b;
	cursor: default;
}

.nav .select .sub li a {
	font-weight: normal;
	display: block;
	height: 35px;
	float: left;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
}

.nav .select :hover .sub li a:hover,.nav .current .sub li a:hover {
	visibility: visible;
	color: #38659b;
	font-size: 12px;
}

.nav .select,.nav .current {
	margin: 0;
	padding: 0;
	list-style: none;
	display: table-cell;
	white-space: nowrap;
}

/* ------------------------------DIV----------------------------- */
#corpsGauche {
	float: left;
	width: 1000px;
	margin-right: 10px;
	height: auto;
}

#inter {
	width: 20px;
	height: auto;
}

#corpsDroite {
	float: right;
	width: 180px;
	height: auto;
}

#page {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: auto;
}

#contenu {
	width: 1200px;
	margin-top: auto;
	margin-bottom: auto;
	min-height: 300px;
}

#contenuCourrierUtilisateurTree {
	width: 1200px;
	margin-top: auto;
	margin-bottom: auto;
}

/*Error message text*/
.error {
	font-size: 12px;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/*Verfication*/
.OK {
	font-size: 12px;
	color: green;
	font-weight: bold;
}

.acompleter {
	font-size: 12px;
	color: red;
	font-weight: bold;
}

/*For text in popup information message*/
.xtePopupInformationTextHeader {
	font-size: 15px;
	color: #FFFFFF;
	padding: 2px;
	background-position: top left;
	background-repeat: repeat-x;
}

.xtePopupInformationTextHeaderBo {
	font-size: 15px;
	color: #FFFFFF;
	padding: 2px;
	background-position: top left;
	background-repeat: repeat-x;
    line-height: 25px;
    margin: 3px;
}

.popupInformationText {
	font-family: Arial, Helvetica, sans-serif;
	color: Black;
	text-align: center;
	font-size: 12px;
}

.xtePopupInformationText {
	font-family: Arial, Helvetica, sans-serif;
	color: Read;
	text-align: center;
	font-size: 12px;
}

/* ------------------------------Interfaces----------------------------- */
#banner {
	background-image: url(image/soft-name-test.gif);
	width: 100%;
}

.banner-compte-user-name {
	width: 100px;
	height: 39px;
	text-align: left;
	color: #698ebd;
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
}

.banner-soft-name {
	
}

.banner-soft-middle {
	width: 291px;
}

.banner-software-second-name {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.banner-compte {
	width: 237;
	height: 39px;
}

.user-image {
	mrgin-top: 1px;
}

.banner-compte-table {
	width: 237;
	height: 37px;
	align: right;
	border-color: #43699A;
	border-width: 1;
	border-style: solid;
	margin-right: 45px;
	margin-top: 15px;
	float: right;
}

.banner-compte-user {
	width: 18px;
	height: 37px;
}

.banner-compte-separator {
	width: 6px;
	height: 20px;
}

.banner-compte-deconnect {
	width: 20px;
	height: 20px;
}

#footer {
	background-image: url(images/CharteFooterGBO.png);
	font-size: 14px;
	height: 30px;
	width: 1200px;
	text-align: right;
	clear: both;
}

.footer-copyright {
	text-align: right;
	color: #FFFFFF;
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
	margin-right: 15px;
	text-decoration: underline;
}

#footer-copyright-text {
	text-align: right;
	color: #79A0CE;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
}

/*.............. Positionnement ...................*/
.xteheader {
	width: 1200px;
	height: 120px;
	align: center;
}

.xtebanner {
	width: 700px;
}

.xteuser {
	width: 300px;
}

.xtebody {
	width: 700;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.xtefooter {
	width: 50px;
	height: 45px;
	background-image: url(images/bg-footer.gif);
	text-align: right;
}

.xteimage {
	width: 280px;
	height: 401px;
	overflow: hidden;
	margin-top: auto;
	margin-bottom: auto;
}

.xtechoix {
	color: #CC0066;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.xtechechbox {
	background-color: #996666;
	border-bottom: 1px dashed #3333FF;
}

.xteradiobox {
	background-color: #006600;
	border-bottom: 2px thick #009933;
}

.xtetab {
	cellpadding: 0;
	cellspacing: 0;
	border-bottom-style: none;
	border-width: thin;
	width: 708;
	height: 488;
}

/*.............. style standard ...................*/
body {
	background-color: #FFFFFF;
	overflow: auto;
	margin-top: 0px;
}

#Template {
	width: 1200px;
	height: 700px;
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 1200px;
	height: 91px;
	align: center;
	background-image: url(images/gbo-entete.png);
}

#headerGlobal {
	width: 1200px;
	height: 120px;
}

#header_G {
	float: left;
	width: 300px;
	margin-right: auto;
	padding-left: 10px;
	padding-top: 5px;
}

#header_D {
	float: right;
	width: 500px;
	margin-right: auto;
	padding-right: 15px;
}

#logo {
	float: left;
	height: 60px;
	width: 50px;
	background-image: url(images/soft-name-test.gif);
}

#menu {
	width: 50px;
	height: 55px;
}

.nav {
	background: #fff url(images/bg-menu.gif) repeat-x;
	height: 55px;
	width: 50;
	/*float: left;*/
	position: relative;
	font-family: arial, verdana, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	width: 100%;
	z-index: 100;
	margin: 0;
	padding: 0;
}

.widgets {
	float: left;
	width: 217;
	margin: 0;
	background-attachment: fixed;
	background-position: top;
	padding-left: 10px;
}

.table {
	cellpadding: 2;
	cellspacing: 2;
	width: 500px;
	height: 200px;
	margin-left: 30px;
	margin-right: 10px;
}

.xteLayoutTitle {
	font-family: Verdana, Helvetica, Helv;
	font-size: 18px;
	background-color: #FF0000;
	line-height: 40px;
	text-align: center;
}

#logo {
	width: 50px;
	float: left;
}

#menu {
	width: 50px;
	height: 55px;
}

#formulaire {
	width: 700px;
	float: left;
	border: 1px solid #CCCCCC;
	text-align: center;
}

/*Form header text*/
.pageTitle {
	font-size: 12px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #BED6F8;
	text-align: center;
}

/********Calandrier***********************/
.monthenc {
	font-size: 15px;
	color: #ffe;
	background-color: #5D7343;
	text-align: center;
	font-family: verdana;
	padding-top: 3px;
	padding-bottom: 3px;
}

.dayenc,.dayenc a:link,.dayenc a:visited {
	text-align: center;
	color: #5D7343;
	font-size: 16px;
	background-color: #fff;
	text-decoration: none;
	font-family: verdana;
	padding-top: 6px;
	padding-bottom: 6px;
}

.dateenc,.dateenc a:link,.dateenc a:visited {
	text-decoration: none;
	line-height: 0.7;
	font-size: 45px;
	background-color: #fff;
	color: #5D7343;
	text-align: center;
}

.datebx {
	line-height: 0.8;
	background-color: #fff;
	font-size: 12px;
	color: #FFFFFF;
	text-align: right;
	font-family: verdana;
	padding-top: 6px;
	padding-bottom: 6px;
}

.yearenc {
	font-size: 15px;
	color: #ffe;
	background-color: #5D7343;
	text-align: center;
	font-family: verdana;
	padding-top: 3px;
	padding-bottom: 3px;
}

/*Table with box border*/
#xteTable {
	border: 1px solid #BED6F8;
	background-image: url('../images/ge.jpg');
	background-repeat: no-repeat;
	background-position: center;
	border-collapse: collapse;
	width: 100%;
}

#xteTableAccordion {
	width: 100%;
}

/*form label*/
.xteDetailLabel {
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 160px !important;
    display: inline-block;
    padding: 5px 0 5px 10px;
	text-align: left;
}
.xteDetailLabelK {
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 100px !important;
    display: inline-block;
    padding: 5px 0 5px 10px;
	text-align: left;
}
.xteDetailLabelKk {
   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 160px !important;
    display: inline-block;
    padding: 5px 0 5px 10px;
	text-align: left;
}

.xtedetaillabelsoustitre{
	    font-size: 14px;
    font-weight: bold;
    color: #444;
    background-color: #e9d990;
    width: 100% !important;
        padding-left: 5px;
	}

.xteDetailLabelPopup {
    color: #2F3030;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 121px !important;
    display: inline-block;
    padding: 5px 0;
	text-align: right;
}

.rich-stglpanel textarea[type="textarea"], .rich-stglpanel input[type="text"] , .rich-stglpanel input[type="password"], .rich-stglpanel select, form textarea {
	width:290px !important;
	margin: 2px 0;
	padding: 5px;
	font-size: 14px !important;
	
	}
	.rich-stglpanel textarea[type="textarea"], .rich-stglpanel input[type="text"] , .rich-stglpanel input[type="password"], form textarea {
	width:290px !important;
	margin: 2px 0;
	padding: 5px;
	font-size: 14px !important;
	
	}
	.xteDetailLabelparam {
    color: #2F3030;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    width: 240px !important;
    display: inline-block;
    padding: 5px 0;
}
	.rich-table-subheader  input[type="text"] {
	       
	        height: 20px !important;
	}
	
	input[type="text"] , input[type="password"], select{
	height: 27px !important;
	}
.rich-panel-body  .rich-stglpanel .rich-calendar-input{
	width:120px !important;
	}
.xteDetailLabelNormal {
	color: #2F3030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 160px;
}

.xteDetailLabelcombox {
	color: #2F3030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 118px;
}

.xteDetailLabelTextArea {
	color: #2F3030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 118px;
}

.xteDetailLabelOutput {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}

.xteEnregistrementLabelOutput {
	font-family: Calibri;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
}

.xteNombreEnregistrementLabelOutput {
	font-family: Calibri;
	color: black;
}

.xtePanelGrid {
	width: 100%;
}

.xteDataTableColumn {
	text-align: center;
}

/*********************** rich composant*********************/
.rich-panel {
	width: 100%;
}

.rich-datatable {
	width: 100%;
}

.rich-toolbar-item {
	background: none repeat scroll 0 0 #5D7343;
	color: #FFFFFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	direction: ltr;
	padding: 0px 5px;
	white-space: nowrap;
	border-left: 1px solid #CCCCCC;
}

.rich-panel-body {
	padding: 0px;
}

element.style {
	background: none repeat scroll 0 0 #335C91;
	width: 100%;
}

.rich-stglpanel-header {
	background-color: #5D7343;
    border-color: #5D7343;
    font-size: 18px;
    font-family: Calibri, Arial, Verdana, sans-seri;
    font-weight: bold;
}

.rich-panel-header {
	background-color: #5D7343;
	border-color: #5D7343;
	font-size: 15px;
	font-family: Calibri, Arial, Verdana, sans-seri;
	font-weight: normal;
	padding: 0px;
}



.rich-filter-input {
	width: 50%;
}

.rich-menu-item-hover,.rich-menu-group-hover {
	cursor: pointer;
	color: #000000;
	background-color: #FFFFFF;
	border-color: #B6AD84;
}

.rich-menu-item-label-selected {
	color: #000000;
}

.rich-menu-item,.rich-menu-item a,.rich-menu-item a:hover,.rich-menu-item a:visited,.rich-menu-group,.rich-menu-group a,.rich-menu-group a:hover,.rich-menu-group a:visited
	{
	color: #FFFFFF;
}

.rich-menu-list-bg {
	background-image:
		url("/GBO_2013/a4j/g/3_3_3.Finalorg.richfaces.renderkit.html.images.background.MenuListBackground/DATB/eAG7-PJd7eZZTAAVHQR1.xhtml");
	border-left-color: #EEE9D1;
	border-right-color: #EEE9D1;
	border-top-color: #EEE9D1;
}

.rich-menu-list-bg .rich-menu-item,.rich-menu-list-bg .rich-menu-item a,.rich-menu-list-bg .rich-menu-item a:hover,.rich-menu-list-bg .rich-menu-item a:visited,.rich-menu-list-bg  .rich-menu-group,.rich-menu-list-bg  .rich-menu-group a,.rich-menu-list-bg  .rich-menu-group a:hover,.rich-menu-list-bg  .rich-menu-group a:visited
	{
	color: #000000;
}

#newCorpsGauche1 {
	float: left;
	height: auto;
	margin-right: 10px;
	width: 590px;
}

#newCorpsDroite1 {
	float: right;
	height: auto;
	margin-right: 9px;
	width: 590px;
}
/********************Message d'erreur*****************/
/*Error message text*/
.error {
	font-size: 12px;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.msgError {
	color: #ff0000;
	background-color: #ffEEEE;
	/*border: 1px solid #ff0000;*/
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
}

.rich-tab-panel {
	direction: ltr;
}
/********************Barre icon*****************/
#barreIcone {
	height: 22px;
	padding: 10px;
	width: 980px;
}

#barreIconeGauche {
	float: left;
	text-align: left;
	width: 800px;
}

#barreIconeDroite {
	float: right;
	text-align: right;
	width: 180px;
}
/*********************Style Ajoutï¿½*****************/
textarea[type="textarea"][disabled],input[type="text"][disabled],input[type="password"][disabled],select[disabled]
	{
	color: #000000;
}

#newCorpsGauche {
	width: 1200px;
	margin-right: 10px;
	min-height: 300px;
	border-color: #DEC8E1;
}

.tooltip {
	background-color: #EBDEED;
	border: 2px solid #a1a1a1;
	border-radius: 5px;
	padding: 0px;
	direction: rtl;
}

.rich-dataTable1 {
	width: 692px;
	
}

.rich-dataTableAffDesMem {
	width: 100%;
	
}

.rich-dataTableAffectation {
	width: 692px;
	margin-left: -10px;
}

.rich-extendableDataTable {
	width =: 730px;
	margin-left: -10px;
	margin-right: -10px;
}

.disabledItem {
	background: #D4D4D4;
}

#buttonHeader {
	padding-right: 9;
	padding-top: 15;
	direction: rtl;
}

.headerTranslation {
	margin-left: auto;
	direction: ltr;
}

#corpsGaucheUnite {
	width: 400px;
	float: left;
}

#corpsDroiteUnite {
	padding-right: 4px;
	width: 792px;
	float: right;
}

.treeClass {
	direction: ltr;
}
/***********scroller modelPanael***********/
.scroll_div {
	overflow: scroll;
	width: 100%;
	height: 500px;
}
/************ ul li *************/
.list-item {
	background: transparent url(images/l2-arrow.gif) no-repeat scroll 0
		0.4em;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0 0 0.4em 15px;
	padding: 0 0 0 12px;
}
.rich-tool-tip {
    background-color: #fae6b0;
    border: 1px solid #e5973e;
    display: inherit;
    float: none;
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    padding: 7px;
    position: fixed;
    direction: rtl;
     
}
.colStyle1 { width: 170px;
}
.colStyle2 { width: 195px;

}
.tableau_liste_courrier_non_consulte_gras {
	font-weight:bold;
white-space: initial;
}
.tableau_liste_courrier_consulte {

white-space: initial;
}
.rich-stglpanel .panelrecherchecontact input[type="text"]{
	width: 100px !important;
	}
.rich-table tr:hover{
background-color: #F1F1F1;
        }
.align-fr{
	text-align:left;
}
.rich-calendar-input{
	width:180px !important;
	}
	
.listDeroulante{
	white-space: pre;
		color: #2F3030;
	font-size: 12px;
	width: 118px;
	}
	
/* Bouton ADD upload */
.rich-fileupload-button-content {
    text-decoration: none !important;
    display: block !important;
    padding: 5px 0 5px 20px !important;
    width: 46px !important;
    background-color: #95b766 !important;
    color: #FFF !important;
    border-color: #11808A !important;
    font-size: 11px !important;
}

.rich-fileupload-button {
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #f5dfdf !important;
	padding: 2px;
    cursor: pointer;
    background-image: none;
}
.rich-fileupload-ico-add {
    background-image: none !important;
}
input[type="text"] , input[type="password"],textarea[type="textarea"], select{
	height: 27px !important;
	font-size: 14px;
	}