/* -------------------------Feuille de styles relative au projet Gestion des Projets--------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ---------------------------------Les Grands Titres-------------------------- */
.box-right {
	min-height: 500px;
	width: 377px;
	height: 400px;
	margin-right: 78px;
}

.box-left {
	width: 954px;
	margin-left: 150px;
	height: 216px;
}

/* ---------------------------Contenus------------------------------- */
/* --------------------------------------------------------- */
.xteSubmit {
	text-align: center;
	background-color: #FFFFFF;
	font-size: 16px;
}

.xtesecret {
	background-color: #FFFFFF;
	border-bottom: 1px dotted #009966;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.xtetableformation {
	width: 708px;
	height: 488px;
	vertical-align: middle;
	border: 1px solid #000066;
	margin-left: 50px;
	margin-right: 50px;
}

.xteTableHeader {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 1px;
	background-color: #CCCCCC;
}

.xteTablebody {
	text-align: center;
	border-color: #F0F0F0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.xteSelect {
	font-size: 11px;
	border: 1px solid #888888;
}

.xteTextarea {
	background-color: #FAFAFA;
	border: 2px solid #888888;
	font-size: 12px;
	color: red;
	margin-left: 30px;
	margin-right: 100px;
	width: 300px;
}

.xteInputText {
	background-color: #FFFFFF;
	border: 1px solid #888888;
	font-size: 12px;
	color: #CC0099;
	margin-left: 5px;
	margin-right: auto;
}

.xteLabel {
	text-align: left;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

/* ---------------------------Table-------------------------------- */
.xteTable {
	margin-right: 10px;
	margin-left: 20px;
	text-align: center;
	border: 1px solid #006633;
	width: 100%;
}

.xteOutputText {
	color: #354514;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	float: left;
	text-align: justify;
}

.xteLayoutSelect {
	color: #FF0000;
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	margin-left: 10px;
	margin-right: 10px;
}

/* -----------------------------Tablaux Toolbars---------------------- */
.toolbar {
	width: 50px;
	height: 50px;
}

.xteToolbars {
	border-color: #990000;
	margin-left: auto;
	margin-right: 430px;
	table-layout: fixed;
}

.xteToolbars a {
	width: 36px;
	height: 36px;
}

.xteToolbars td {
	text-decoration: none;
	width: 36px;
	height: 36px;
	margin-left: 15px;
	margin-right: auto;
}

.xteToolbars tr {
	text-decoration: none;
}

.xteToolbarsImage :hover {
	border: none;
	width: 36px;
	height: 36px;
}

/* -----------------------------Tablaux---------------------- */
#xteTable {
	border: 1px solid #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	width: 500px;
	margin-bottom: 10px;
	vertical-align: super;
	white-space: nowrap;
}

/* ------------------------------Test des interfaces V0----------------------------- */
.nav .table {
	display: table;
}

.nav .select,.nav .current {
	padding: 0;
	list-style: none;
	display: table-cell;
	white-space: nowrap;
	color: #FFFFFF;
}

.nav .select li {
	margin: 0;
	/*width:180px;*/
	padding: 0 10px 0 10px;
	text-decoration: none;
	padding: 0 50px;
	height: 31px;
	float: left;
	background: url(images/menu-separation.gif) no-repeat scroll right
		center transparent;
	color: #FFFFFF;
	z-index: 1;
}

.nav .select a {
	text-decoration: none;
}

.nav li.last {
	background: none;
}

.nav .select a:hover .menu-left,.nav .select li:hover a .menu-left {
	background: url(images/left.gif) no-repeat left top;
	width: 11px;
	height: 31px;
	line-height: 35px;
	display: block;
	float: left;
	padding-bottom: 7px;
	cursor: pointer;
}

.nav .select a:hover .menu-mid,.nav .select li:hover a .menu-mid {
	background: url(images/bg.gif) repeat-x top left;
	height: 31px;
	line-height: 35px;
	display: block;
	float: left;
	padding-bottom: 7px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.nav .select a:hover .menu-right,.nav .select li:hover a .menu-right {
	background: url(images/right.gif) no-repeat top left;
	width: 11px;
	height: 31px;
	line-height: 35px;
	display: block;
	float: left;
	padding-bottom: 7px;
	cursor: pointer;
}

.nav .select  a .menu-right {
	width: 11px;
	height: 31px;
	background: url(images/bg-menu.gif) repeat-x top left;
	float: left;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
}

.nav .select  a .menu-left {
	width: 11px;
	height: 31px;
	background: url(images/bg-menu.gif) repeat-x top left;
	float: left;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
}

.nav .select a .menu-mid {
	display: block;
	height: 35px;
	float: left;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
}

.nav li.last {
	background: none;
}

.nav .select_sub {
	display: none;
}

.nav table {
	border-collapse: collapse;
	margin: -1px;
	font-size: 1em;
	width: 0;
	height: 0;
}

.nav .sub {
	display: table;
	list-style: none;
}

.nav .sub_active .current_sub a,.nav .sub_active a:hover {
	background: transparent;
	color: #FFFFFF;
}

.nav .select :hover .select_sub,.nav .current .show {
	display: block;
	position: absolute;
	width: 100%;
	font-size: 12px;
	top: 35px;
	background: #89beff;
	padding: 0;
	z-index: 100;
	left: 0;
	text-align: center;
	color: #38659b;
	margin-top: -5px;
}

.nav .current .show {
	z-index: 10;
}

.nav .select .select_sub li {
	background: none;
	padding: 0 10px;
}

.nav .select :hover .sub li a,.nav .current .show .sub li a {
	display: block;
	float: left;
	background: transparent;
	padding: 0 10px 0 10px;
	margin: 0;
	white-space: nowrap;
	font-size: 12px;
	border: 0;
	color: #FFFFFF;
}

.nav .current .sub li.sub_show a {
	color: #38659b;
	cursor: default;
}

.nav .select .sub li a {
	font-weight: normal;
	display: block;
	height: 35px;
	float: left;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
}

.nav .select :hover .sub li a:hover,.nav .current .sub li a:hover {
	visibility: visible;
	color: #38659b;
	font-size: 12px;
}

.nav .select,.nav .current {
	margin: 0;
	padding: 0;
	list-style: none;
	display: table-cell;
	white-space: nowrap;
}

/* ------------------------------DIV----------------------------- */
#corpsGauche {
	float: left;
	width: 800px;
	margin-right: 10px;
	height: auto;
}

#inter {
	width: 20px;
	height: auto;
}

#corpsDroite {
	float: right;
	width: 180px;
	height: auto;
}

#page {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: auto;
}

#contenu {
	width: 1000px;
	margin-top: auto;
	margin-bottom: auto;
	min-height: 300px;
}
/* ------------------------------------- DEBUT Interface Schema Vehicule ------------------------------------------------ */
div#observation {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   border-style: solid;
   border-width: 1px;
   width: 750px;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 20px;
   padding-right: 20px;
}
.textAreaObservation{
   height: 80; 
   width : 740px;
   resize: none;
}
#schemaVehicule {
	background: url("images/SchemaVehicule.png") repeat scroll 0 0
		transparent;
	display: inline;
	float: right;
	width: 600px;
	height: 275px;
}

.schemaChekBoxICONE {
	margin-left: 7px;
	margin-top: 8px;
	
}
.schemaChekBox1 {
	margin-left: 38px;
	margin-top: 93px;
	
}

.schemaChekBox2 {
	margin-left: 37px;
	margin-top: 93px;
}

.schemaChekBox3 {
	margin-left: 10px;
	margin-top: 93px;
}

.schemaChekBox4 {
	margin-left: 40px;
	margin-top: 93px;
}

.schemaChekBox5 {
	margin-left: 35px;
	margin-top: 88px;
}

.schemaChekBox6 {
	
	margin-left: 20px;
	margin-top: 88px;
}
.schemaChekBox7 {
	
	margin-left: 19px;
	margin-top: 88px;
}

.schemaChekBox8 {
	
	margin-left: 23px;
	margin-top: 88px;
}
.schemaChekBox9 {
	
	margin-left: -10px;
	margin-top: -35px;
}
.schemaChekBox10 {
	
	margin-left: 12px;
	margin-top: 100px;
}
.schemaChekBox11 {
	
	margin-left: 22px;
	margin-top: -40px;
}
.schemaChekBox12 {
	
	margin-left: 17px;
	margin-top: 95px;
}
.schemaChekBox13 {
	
	margin-left: 22px;
	margin-top: 95px;
}

/* ------------------------------------- FIN Interface Schema Vehicule ------------------------------------------------ */

/* Error message text */
.error {
	font-size: 11px;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

/*Verfication*/
.OK {
	font-size: 11px;
	color: green;
	font-weight: bold;
}

.acompleter {
	font-size: 11px;
	color: red;
	font-weight: bold;
}

/*For text in popup information message*/
.xtePopupInformationTextHeader {
	font-size: 15px;
	color: #008080;
	padding: 2px;
	background-position: top left;
	background-repeat: repeat-x;
}

.xtePopupInformationText {
	font-family: Arial, Helvetica, sans-serif;
	color: Black;
	text-align: center;
	font-size: 13px;
}

/* ------------------------------Interfaces----------------------------- */
#banner {
	background-image: url(image/soft-name-test.gif);
	width: 100%;
}

.banner-compte-user-name {
	width: 100px;
	height: 39px;
	text-align: left;
	color: #698ebd;
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
}

.banner-soft-name {
	
}

.banner-soft-middle {
	width: 291px;
}

.banner-software-second-name {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

.banner-compte {
	width: 237px;
	height: 39px;
}

.user-image {
	margin-top: 1px;
}

.banner-compte-table {
	width: 237px;
	height: 37px;
	border-color: #43699A;
	border-width: 1px;
	border-style: solid;
	margin-right: 45px;
	margin-top: 15px;
	float: right;
}

.banner-compte-user {
	width: 18px;
	height: 37px;
}

.banner-compte-separator {
	width: 6px;
	height: 20px;
}

.banner-compte-deconnect {
	width: 20px;
	height: 20px;
}

#footer {
	background-image: url(images/footer-GPR.png);
	font-size: 14px;
	height: 30px;
	width: 1000px;
	text-align: right;
	clear: both;
}

.footer-copyright {
	text-align: right;
	color: #FFFFFF;
	font-size: 12px;
	font-family: "Courier New", Courier, monospace;
	margin-right: 15px;
	text-decoration: underline;
}

#footer-copyright-text {
	text-align: right;
	color: #79A0CE;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-weight: bold;
}

/*.............. Positionnement ...................*/
.xteheader {
	width: 1000px;
	height: 120px;
}

.xtebanner {
	width: 700px;
}

.xteuser {
	width: 300px;
}

.xtebody {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.xtefooter {
	width: 50px;
	height: 45px;
	background-image: url(images/bg-footer.gif);
	text-align: right;
}

.xteimage {
	width: 280px;
	height: 401px;
	overflow: hidden;
	margin-top: auto;
	margin-bottom: auto;
}

.xtechoix {
	color: #CC0066;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.xtechechbox {
	background-color: #996666;
	border-bottom: 1px dashed #3333FF;
}

.xteradiobox {
	background-color: #006600;
	border-bottom: 2px thick #009933;
}

.xtetab {
	border-bottom-style: none;
	border-width: thin;
	width: 708px;
	height: 488px;
}

/*.............. style standard ...................*/
body {
	background-color: #FFFFFF;
	overflow: auto;
	margin-top: -15px;
}

#Template {
	width: 1000px;
	height: 700px;
	table-layout: fixed;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 1000px;
	height: 91px;
	background-image: url(images/gpr-entete.png);
	
}

#headerGlobal {
	width: 1000px;
	height: 120px;
}

#header_G {
	float: left;
	width: 300px;
	margin-right: auto;
	padding-left: 10px;
	padding-top: 5px;
}

#header_D {
	float: right;
	width: 500px;
	margin-right: auto;
	padding-right: 15px;
}

#logo {
	float: left;
	height: 60px;
	width: 50px;
	background-image: url(images/soft-name-test.gif);
}

#menu {
	width: 50px;
	height: 55px;
}

.nav {
	background: #fff url(images/bg-menu.gif) repeat-x;
	height: 55px;
	width: 50px;
	/*float: left;*/
	position: relative;
	font-family: arial, verdana, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	width: 100%;
	z-index: 100;
	margin: 0;
	padding: 0;
}

#footer {
	background-image: url(images/footer-GPR.png);
	height: 30px;
	width: 1000px;
	text-align: right;
}

.widgets {
	float: left;
	width: 217px;
	margin: 0;
	background-attachment: fixed;
	background-position: top;
	padding-left: 10px;
}

.table {
	width: 500px;
	height: 200px;
	margin-left: 30px;
	margin-right: 10px;
}

.xteLayoutTitle {
	font-family: Verdana, Helvetica, Helv;
	font-size: 18px;
	background-color: #FF0000;
	line-height: 40px;
	text-align: center;
}

#logo {
	width: 50px;
	float: left;
}

#menu {
	width: 50px;
	height: 55px;
}

#formulaire {
	width: 700px;
	float: left;
	border: 1px solid #CCCCCC;
	text-align: center;
}

/*Form header text*/
.pageTitle {
	font-size: 12px;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #BED6F8;
	text-align: center;
}
/**********PannelGrid**********************/
#trPanelGrid {
	width: 100%;
}

#tdPanelGrid {
	width: 50%;
}
/********Calandrier***********************/
.monthenc {
	font-size: 15px;
	color: #ffe;
	background-color: #008894;
	text-align: center;
	font-family: verdana;
	padding-top: 3px;
	padding-bottom: 3px;
}

.dayenc,.dayenc a:link,.dayenc a:visited {
	text-align: center;
	color: #008894;
	font-size: 16px;
	background-color: #fff;
	text-decoration: none;
	font-family: verdana;
	padding-top: 6px;
	padding-bottom: 6px;
}

.dateenc,.dateenc a:link,.dateenc a:visited {
	text-decoration: none;
	line-height: 0.7;
	font-size: 45px;
	color: #008894;
	text-align: center;
}

.datebx {
	line-height: 0.8;
	background-color: #fff;
	font-size: 12px;
	color: #FFFFFF;
	text-align: right;
	font-family: verdana;
	padding-top: 6px;
	padding-bottom: 6px;
}

.yearenc {
	font-size: 15px;
	color: #ffe;
	background-color: #008894;
	text-align: center;
	font-family: verdana;
	padding-top: 3px;
	padding-bottom: 3px;
}

/*Table with box border*/
#xteTable {
	border: 1px solid #BED6F8;
	background-image: url('../images/ge.jpg');
	background-repeat: no-repeat;
	background-position: center;
	border-collapse: collapse;
	width: 100%;
}

#xteTableAccordion {
	width: 100%;
}

/*form label*/
.xteDetailLabel {
	color: #2F3030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	
}

.xteOutPutNumber {
	width: 50px;
}

.xteOutPutObjet {
	width: 250px;
}

.xteDetailLabelcomboxMission {
	color: #2F3030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 100px;
}

.xteDetailLabelcombox {
	color: #2F3030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 140px;
}

.xteDetailLabelTextArea {
	color: #2F3030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 200px;
	resize: none;
}

.xteDetailLabelOutput {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

.xteDetailLabelnotification {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: italic;
	font-weight: normal;
}

.xteEnregistrementLabelOutput {
	font-family: Calibri,Arial,Corbel;
	color: #FFFFFF;
	font-weight: bold;
}

.xteNombreEnregistrementLabelOutput {
	font-family: Calibri;
	color: red;
}

.xtePanelGrid {
	width: 100%;
}

.xteDataTableColumn {
	text-align: center;
}

/*********************** rich composant*********************/
.rich-panel {
	width: 100%;
}

.rich-datatable {
	width: 100%;
}

.rich-toolbar-item {
	background: none repeat scroll 0 0 #008894;
	color: #FFFFFF;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 0px;
	white-space: nowrap;
}

.rich-menu-item-label-toolbar-selected {
	cursor: pointer;
	color: #000000;
	background-color: #58D3F7;
	border-color: #58FAF4;
}

.rich-panel-body {
	padding: 0px;
}

element.style {
	background: none repeat scroll 0 0 #008894;
	width: 100%;
}

.rich-stglpanel-header {
	background-color: #BED6F8;
	border-color: #BED6F8;
	font-size: 15px;
	font-family: Calibri, Arial, Verdana, sans-seri;
	font-weight: normal;
}

.rich-panel-header {
	background-color: #BED6F8;
	border-color: #BED6F8;
	font-size: 15px;
	font-family: Calibri, Arial, Verdana, sans-seri;
	font-weight: normal;
	padding: 0px;
}

.rich-filter-input {
	width: 50%;
}
/********************Barre icon*****************/
#barreIcone {
	height: 22px;
	padding: 10px;
	width: 780px;
}

#barreIconeGauche {
	float: left;
	text-align: left;
	width: 600px;
}

#barreIconeDroite {
	float: right;
	text-align: right;
	width: 165px;
}
/********************Message d'erreur*****************/
/*Error message text*/
.error {
	font-size: 11px;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.msgError {
	color: #ff0000;
	background-color: #ffEEEE;
	/*border: 1px solid #ff0000;*/
	padding: 5px;
	margin-left: 5px;
	margin-right: 5px;
}
/********************ToolBar*****************/
.rich-menu-item-hover,.rich-menu-group-hover {
	cursor: pointer;
	color: #000000;
	background-color: #66CCCC;
	border-color: #58FAF4;
}

.rich-menu-item-label-toolbar-selected {
	cursor: pointer;
	color: #000000;
	background-color: #66CCCC;
	border-color: #66CCCC;
}

.rich-menu-item-label-selected {
	color: #000000;
}

.rich-ddmenu-label-select {
	border: 1px solid;
	cursor: pointer;
	background-color: #66CCCC;
	border-color: #66CCCC;
}

.rich-menu-item,.rich-menu-item a,.rich-menu-item a:hover,.rich-menu-item a:visited,.rich-menu-group,.rich-menu-group a,.rich-menu-group a:hover,.rich-menu-group a:visited
	{
	color: #FFFFFF;
}

.rich-menu-list-bg .rich-menu-item,.rich-menu-list-bg .rich-menu-item a,.rich-menu-list-bg .rich-menu-item a:hover,.rich-menu-list-bg .rich-menu-item a:visited,.rich-menu-list-bg  .rich-menu-group,.rich-menu-list-bg  .rich-menu-group a,.rich-menu-list-bg  .rich-menu-group a:hover,.rich-menu-list-bg  .rich-menu-group a:visited
	{
	color: #000000;
}

.div_near_spacer {
	border-top-width: 0px;
	border-left-width: 0px;
	font-size: 0px;
	border-bottom-width: 0px;
	height: 2px;
	background-color: #58D3F7;
	border-right-width: 0px
}

.rich-panel-schema {
	width: 190px;
	height: 490px;
	background: url(images/dessin-voiture.png);
}

#corpsGaucheUnite {
	width: 300px;
	float: left;
}

#corpsDroiteUnite {
	padding-right: 4px;
	width: 692px;
	float: right;
}

.treeClass {
	direction: ltr;
}
/********* To Design element inside DataTable   **************/
td.textCenter{
text-align: center;
}
td.chiffre{
text-align: right;
}
td.caractere{
text-align: left;
}
.headcaractere th{
  width: 60px;

}
.headchiffre th{
  width: 20px;

}
/********* label accauil **/
.xtedetailLabelAcceuil{
	color: #2F3030;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
    padding-left: 6px;
}
#acceuilIcone {
	
	height: 5px;
	width: 5px;
}
ul{
margin-top: 0;
margin-bottom: 0;
}
li{
list-style-type: square;
color: #008894;
}