<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">
	<!-- support spring annotation -->
	<context:annotation-config />
	<!-- support annotation transaction -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- declare datasource -->	
	
	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
		<property name="locations" value="classpath:param*.properties" />
	</bean>	
    <bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${DataBase.driver}" />
		<property name="url" value="${DataBase.url}" />
		<property name="username" value="${DataBase.username}" />
		<property name="password" value="${DataBase.password}" /> 
	</bean>  
	<!--Hibernate session factory configuration -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<!-- load hibernate configuration file -->
		<property name="configLocation" value="/WEB-INF/hibernate.cfg.xml" />
		<!-- where to find the ORM classes -->
		<property name="packagesToScan" >
		 <array><value>com.xtensus.hibernate.model</value></array>
		 </property>
		<property name="mappingLocations" value="/WEB-INF/query.hbm.xml" />
	</bean>
	
	<!-- Transaction manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
		
	<bean id="ldapAuthenticationProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider" />
	
	<bean id="springSecurityFilterChain" class="org.springframework.web.filter.DelegatingFilterProxy"/>

   <context:component-scan base-package="com.xtensus.*">
   		<context:include-filter type="annotation" expression="com.xtensus.jsf.common.*" />
   </context:component-scan>
	
</beans>